@model DeleteGymModel

<h2>Delete Gym</h2>


<p>Are you sure you want to delete the gym: <strong>@Model.Name - @Model.Address</strong>?</p>

<form asp-action="SoftDelete" method="post">
    <input type="hidden" asp-for="Id" />
    <button asp-action="DeleteConfirmed" type="submit" class="btn btn-danger">Yes, Delete</button>
    <a asp-action="Manage" class="btn btn-secondary">Cancel</a>
</form>
