
<div class="container text-center">

    <a asp-action="MakeMeAdmin" asp-controller="Admin" class="btn btn-secondary m-1">Make Admin</a>



    <img src="~/images/home.png" alt="GymHub Home Image" class="img-fluid" />

    <p class="mb-5 display-4">Your ultimate fitness hub</p>

    <div class="container">
        <div class="row text-center">
            <div class="col-md-12 mt-4">
        <h1>All your favourite gyms</h1>
                <p class="mb-4 display-6">Our hub offers information for all your gyms</p>
    </div>
            <div class="col-md-12 mt-4">
        <h1>Expert Trainers</h1>
                <p class="mb-4 display-6">Get guidance from certified trainers to achieve your goals</p>
    </div>
            <div class="col-md-12 mt-4">
        <h1>Flexible Memberships</h1>
                <p class="mb-4 display-6">Choose from a range of memberships that fit your schedule</p>
    </div>

    </div>
</div>
    
</div>


